body{
	font-size: 16px;
	font-display: swap;
	font-family:'Roboto',sans-serif;
}
h1{
	font-family: Arial Narrow,Arial,sans-serif; 
	letter-spacing: -4px;
}
body.loadind *{
	transition: none!important;
}
.contacts-modal{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 500;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.9);
    transition: 200ms ease-out;
    transition-property: transform,opacity,visibility;
}
@media(max-width:750px){
	.header .nav-block{
		background: rgba(6, 5, 3, 0.8);
		width: 100%;
		bottom: 0;
		transform: translate(0,90%);
		opacity: 0;
		visibility: hidden;
		z-index: 0;
		left: 0;
		position: absolute;
		flex-direction: column;
		padding: 1rem 2rem;
		transition: 200ms;
		transition-property: transform,opacity,visibility;
	}
	.heder-overlay{
		position: fixed;
		z-index: 200;
		top: 0;
		left: 0;
		right:0;
		bottom: 0;
		background: rgba(102, 102, 102,0.3);
		opacity: 0;
		visibility: hidden;
		transition: 150ms ease-in;
		transition-property: opacity,visibility;
	}
}
@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 400;
  src: local('inter Regular'), local('inter-Regular');
  font-display: swap;
}
@font-face {
  font-family: 'inter';
  font-style: normal;
  font-weight: 600;
  src: local('inter Semi-bold'), local('inter-Semi-bold');
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular');
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold');
  font-display: swap;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
	margin-left: auto;
	max-width: 1330px;
}
.content-wrapper{
	max-width: 1400px;
	margin: 0 auto;
}
.c-c{
	display: flex;
	justify-content: center;
	align-items: center;
}
.c-s{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.brand{
	color: #D9142B;
}
.hero-title{
	font-size: 3.25rem;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 1rem;
}
.hero-sub{
	background: #ffffff;
	padding: 0.5rem 1.5rem 0.5rem 0.5rem ;
	border-radius: 0.25rem;
}
.hero-sub-descr{
	margin-bottom: 0;
	margin-left: 1rem;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 1.2;
}
.hero{
	background: #F5F7F9;
	padding:3rem 0rem ;
	margin-top: 3.5rem;
}
.hero-text-inner{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.brand-bg{
	background: #FFF2F4;
	width: 3rem;
	height: 3rem;
	flex: 0 0 3rem;
	border-radius: 0.5rem;
}
.hero-descr{
	font-size: 1.1rem;
	color: #666666;
	max-width: 440px;
	margin-top: 2rem;
}
.cta-button,.submit-button{
	padding: 1rem 2rem;
	font-size: 1.1rem;
	border: none;
	outline: none;
	color: #ffffff;
	background: #D9142B;
	border-radius: 0.26rem;
	 transition: 200ms ease-in;
	 transition-property: box-shadow,transform;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.00), 0px 2px 6px rgba(0, 0, 0, 0.00), 0px 0px 1px rgba(0, 0, 0, 0.00);
}
.cta-button:hover,.submit-button:hover{
	transform:translate(0,-3px);
	box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}
.md-icon img{
	width: 100%;
	max-width: 2rem;
}
.hero-inner{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.hero-img,.hero-text{
	max-width: 50%;
	width: 100%;
	flex: 0 0 50%;
	padding: 0 10px;
}
.hero-img img{
	width: 100%;
}
.header{
	
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	width: 100%;
z-index: 300;
	margin: 0 auto;
}
.header .cta-button{
	border-radius: 0;
}
.header .container{
	background: #060503;
	max-width: 1400px;
	padding: 0;
	padding-left: 1rem;
}
.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header{
	max-width: 1400px;
}
.navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.navigation ul li{
	padding: 0 0.5rem;
}
.navigation ul li a{
	color: #ffffff;
	line-height: 3rem;
	display: block;
	transition: 200ms ease-in;
	transition-property: opacity;
}
.navigation ul li a:hover{
	text-decoration: none;
	opacity: 0.7;
}
.header-logo img{
	width: 100%;
	max-width: 160px;
}

.header-button{
margin-left: 1rem;
padding: 1.5rem 2rem;
transition: 200ms ease-in;
}
.header-button:hover{
	box-shadow: 0px 16px 24px rgba(218, 0, 0, 0.1), 0px 2px 6px rgba(218, 0, 0, 0.2), 0px 0px 1px rgba(218, 0, 0, 0.3);
	transform: scale(1.05);
}

